{{#> layout}}
    {{#*inline 'main'}}
        <main class="container">
            <h3>Webpack!</h3>
            <p>Proyecto Base creado con <strong>Webpack</strong>, <strong>Handlebars</strong> y <strong>MaterializeCSS</strong></p>
        </main>
    {{/inline}}
{{/layout}}