{{#> layout}}
{{#*inline 'main'}}
<main class="container">
    <h3>Webpack Base</h3>
    <p>Proyecto creado con <strong>Webpack</strong>, <strong>Handlebars</strong> y <strong>MaterializeCSS</strong></p>
</main>
{{/inline}}
{{/layout}}